<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Prueba Técnica Dirmod</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">      
      <li class="nav-item">
        <a class="nav-link" href="cotizacion/dolar">Dolar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cotizacion/euro">Euro</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="cotizacion/real">Real</a>
      </li>      
    </ul>
  </div>
  </div>
</nav>